@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    background-color: bisque;
    text-align: center;
}

.h3{
    color: gray;
    font-family: 'Tilt Neon', sans-serif;
}

.h4{
    color: lightseagreen;
}

.imgg{
    width: 25%;
}

.tablee{
    color: darkgreen;
    margin-left: 43%;
}

.linkk{
    color: crimson;
}

.foot{
    color: mediumblue;
}